@import "./../../../App.scss";
.SoftShowCase {
    .software-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .link{
        color: $accent-1;
        padding: 10px;
        border-radius: 4px;
    }
    .link:hover{
        color: $main-text-color;
    }
    .card-visual{
        margin-top: 2.2vh;
    }
}
